# macOS
.DS_Store

# Node
node_modules/
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*

# Next.js
.next/
**/.next/
.next/cache/

# Next export output
out/
**/out/

# Vercel
.vercel/

# Coverage
coverage/

# Build artifacts
*.log
*.pid
*.seed
*.tsbuildinfo

# Editor
.vscode/
.idea/

# Misc
*.tgz
